<div
  class="container-fluid"
  style="
    background-color: #73767a;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 50px;
    padding: 30px;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-4-left">
        <h6 class="box-header">עלינו</h6>
        <ul class="list text-footer-white">
          <li>דקל 5, באר שבע</li>
          <li><span>נייד: </span>052-2704705</li>
          <li><span>משרד: </span>08-6278777</li>
        </ul>
      </div>
      <div class="col-sm-4 col-sm-4-left">
        <h6 class="box-header">השירותים שלנו</h6>
        <ul class="list text-footer-white">
          <li class="template-bullet">אבחון מנוע</li>
          <li class="template-bullet">סיכה, שמן ומסננים</li>
          <li class="template-bullet">חגורות וזרנוקים</li>
          <li class="template-bullet">מזגן</li>
          <li class="template-bullet">תיקון בלמים</li>
          <li class="template-bullet">שירותי רכב אחרים</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h6 class="box-header">שעות</h6>
        <ul class="list text-footer-white">
          <li><span>ראשון: </span>8:00 - 18:00</li>
          <li><span>שני: </span>8:00 - 18:00</li>
          <li><span>שלישי: </span>8:00 - 18:00</li>
          <li><span>רביעי: </span>8:00 - 18:00</li>
          <li><span>חמישי: </span>8:00 - 18:00</li>
          <li><span>שישי: </span>8:00 - 14:00</li>
          <li><span>שבת: </span>סגור</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="text-center">
  האתר נוצר למוסך אריה
</footer>
