<div class="container">
  <h1 class="text-center">אודותינו</h1>
  <div class="row mt-5">
    <div class="col-sm" style="text-align: right;">
      <p>
        מוסך <b>אריה</b> הוא מוסך שמתמחה בטיפול ותיקון כל סוגי כלי הרכב, הממוקם
        ברחוב דקל 5 בבאר שבע ליד תחנת דלק פטרול. המוסך בעל הוותק והמוניטין מציע
        ללקוחותיו מגוון שירותי מוסך תחת קורת גג אחת, לרבות: מכונאות, חשמל ומיזוג
        אוויר, ביקורת איכות לרכב ועוד. כל השירותים ניתנים בסטנדרטים גבוהים של
        מקצועיות, שירות ואמינות.
      </p>
      <h4>תחומי העיסוק של מוסך אריה כוללים:</h4>
      <div class="row mt-5">
        <div class="col-sm-6">
          <ul class="list">
            <li class="template-bullet">מכונאות</li>
            <li class="template-bullet">דיאגנוסטיקה לאבחון תקלות ממוחשבות</li>
            <li class="template-bullet">חגורות וזרנוקים</li>
            <li class="template-bullet">תיקון בלמים</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="list">
            <li class="template-bullet">חשמל רכב</li>
            <li class="template-bullet">מיזוג אוויר לרכב</li>
            <li class="template-bullet">מזגן</li>
            <li class="template-bullet">שירותי רכב אחרים</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <img
        src="../../assets/image-out-service/image_05-390x260.jpg"
        class="card-img-bottom card-img-top"
      />
      <div class="row mt-2">
        <div class="col-sm-6 mb-2">
          <img
            src="../../assets/image-out-service/image_011-390x260.jpg"
            class="card-img-top card-img-bottom"
          />
        </div>
        <div class="col-sm-6 mb-2">
          <img
            src="../../assets/image-out-service/image_02-390x260.jpg"
            class="card-img-top card-img-bottom"
          />
        </div>
      </div>
    </div>
  </div>
</div>
