<nav
  class="navbar navbar-expand-lg navbar-light bg-white shadow-sm border-bottom p-3 px-md-4 mb-3 fixed-top"
>
  <h5 class="my-0 ml-md-auto"><img src="assets/logo.jpg" class="logo" /></h5>
  <div
    class="menu-btn"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <div class="menu-btn__burger"></div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-center">
        <a class="p-2 text-dark" routerLink="">דף הבית</a>
      </li>
      <li class="nav-item text-center">
        <a class="p-2 text-dark" routerLink="gallery">גלריה</a>
      </li>
      <li class="nav-item text-center">
        <a class="p-2 text-dark" routerLink="our-service">שירותי המוסך</a>
      </li>
      <li class="nav-item text-center">
        <a class="p-2 text-dark" routerLink="about">אודות</a>
      </li>
      <li class="nav-item text-center">
        <a class="p-2 text-dark" routerLink="contact-us">צור קשר</a>
      </li>
      <!-- <li class="nav-item text-center">
        <a class="p-2 text-dark" routerLink="contact-us">הזמן תור</a>
      </li> -->
    </ul>
  </div>
</nav>
