<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink="">דף הבית</a>
        <a class="p-2 text-dark" href="#">גלריה</a>
        <a class="p-2 text-dark" href="#">שירותי המוסך</a>
        <a class="p-2 text-dark" href="#">אודות</a>
        <a class="p-2 text-dark" href="#">צור קשר</a>
        <a class="p-2 text-dark" href="#">הזמן תור</a>
    </nav>
    <h5 class="my-0 ml-md-auto"><img src="assets/logo.jpg" class="logo"></h5>
</div>