<div class="container">
  <h1 class="text-center">השירותים שלנו</h1>
  <div class="clearfix">
    <div class="row mb-2">
      <div class="col-sm">
        <div class="card">
          <img
            src="../../assets/image-out-service/image_011-390x260.jpg"
            class="card-img-top"
          />
          <div class="card-body" style="text-align: right;">
            <div class="card-title">
              דיאגנוסטיקה למנועים
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img
            src="../../assets/image-out-service/image_02-390x260.jpg"
            class="card-img-top"
          />
          <div class="card-body" style="text-align: right;">
            <div class="card-title">
              חומר סיכה, שמן ומסננים
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img
            src="../../assets/image-out-service/image_03-390x260.jpg"
            class="card-img-top"
          />
          <div class="card-body" style="text-align: right;">
            <div class="card-title">
              רצועות וצינורות
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <img
            src="../../assets/image-out-service/image_04-390x260.jpg"
            class="card-img-top"
          />
          <div class="card-body" style="text-align: right;">
            <div class="card-title">
              מזגן
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img
            src="../../assets/image-out-service/image_05-390x260.jpg"
            class="card-img-top"
          />
          <div class="card-body" style="text-align: right;">
            <div class="card-title">
              תיקון ברקסים
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img
            src="../../assets/image-out-service/image_06-390x260.jpg"
            class="card-img-top"
          />
          <div class="card-body" style="text-align: right;">
            <div class="card-title">
              שירותי צמיגים וגלגלים
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
