<swiper [config]="config">
    <div class="swiper-wrapper">
        <img class="swiper-slide" *ngFor="let image of images" [src]="image">
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-3">
            <div class="feature-item feature-item-big">
                <div class="hexagon">
                    <i class="fas fa-tools fa-3x blue" aria-hidden="true"> </i>
                </div>
                <h4 class="box-header">אנחנו מומחים</h4>
                <p>Morbi nulla tortor, dignissim est node cursus euismod est arcu. Nomad at vehicula novum justo magna.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature-item feature-item-big">
                <div class="hexagon">
                    <i class="fas fa-user-friends fa-3x blue" aria-hidden="true"> </i>
                </div>
                <h4 class="box-header">אנחנו ידידותיים</h4>
                <p>Morbi nulla tortor, dignissim est node cursus euismod est arcu. Nomad at vehicula novum justo magna.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature-item feature-item-big">
                <div class="hexagon">
                    <i class="fa fa-car fa-3x blue" aria-hidden="true"> </i>
                </div>
                <h4 class="box-header">אנחנו מדויקים</h4>
                <p>Morbi nulla tortor, dignissim est node cursus euismod est arcu. Nomad at vehicula novum justo magna.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="feature-item feature-item-big">
                <div class="hexagon">
                    <i class="fas fa-user-graduate fa-3x blue" aria-hidden="true"> </i>
                </div>
                <h4 class="box-header">אנחנו בוטחים</h4>
                <p>Morbi nulla tortor, dignissim est node cursus euismod est arcu. Nomad at vehicula novum justo magna.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #f5f5f5;">
    <div class="row mt-5">
        <div class="col-sm-4 padding-left-right-100">
            <div>
                <h3 class=" box-header page-margin-top-section">המומחיות שלנו</h3>
                <div class="mt-3 col-num1">
                    <p>אנו מציעים מגוון רחב של שירותי מוסך לבעלי רכב. אנשי המקצוע שלנו יודעים לטפל במגוון רחב של שירותי
                        רכב.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 padding-left-right-100 col-img col-img2">
        </div>
        <div class="col-sm-4 padding-left-right-100">
            <div>
                <h3 class=" box-header page-margin-top-section">מה אנחנו עושים</h3>
                <div class="mt-3 col-num1">
                    <p>אנו מציעים מגוון רחב של שירותי מוסך לבעלי רכב. כל שירותי המכונאים מבוצעים על ידי מכונאים מוסמכים
                        מאוד.</p>
                </div>
                <ul class="list margin-top-26">
                    <li class="template-bullet "><span>אנו הופכים את התיקון לרכב לנוח יותר עבורך</span></li>
                    <li class="template-bullet "><span>אנו מבצעים את העבודה כמו שצריך - פעם ראשונה</span></li>
                    <li class="template-bullet "><span>תוצאות מוכחות לקביעת סטנדרטים חריגים</span></li>
                    <li class="template-bullet "><span>שירות באותו יום עבור מרבית התיקונים</span></li>
                </ul>
                <div class="mt-5 mb-5">
                    <button class="btn btn-primary">השירותים שלנו</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid"
    style="background-color: #73767A; margin-bottom: 0; margin-left: auto; margin-right: auto; margin-top: 30px; padding-bottom: 50px; padding: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-4-left">
                <h6 class="box-header">עלינו</h6>
                <ul class="list simple text-footer-white">
                    <li>דקל 5, באר שבע</li>
                    <li><span>נייד: </span>052-2704705</li>
                    <li><span>משרד: </span>08-6278777</li>
                </ul>
            </div>
            <div class="col-sm-4 col-sm-4-left">
                <h6 class="box-header">השירותים שלנו</h6>
                <ul class="list text-footer-white">
                    <li class="template-bullet">אבחון מנוע</li>
                    <li class="template-bullet">סיכה, שמן ומסננים</li>
                    <li class="template-bullet">חגורות וזרנוקים</li>
                    <li class="template-bullet">מזגן</li>
                    <li class="template-bullet">תיקון בלמים</li>
                    <li class="template-bullet">שירותי רכב אחרים</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h6 class="box-header">שעות</h6>
                <ul class="list simple text-footer-white">
                    <li><span>ראשון: </span>8:00 - 18:00</li>
                    <li><span>שני: </span>8:00 - 18:00</li>
                    <li><span>שלישי: </span>8:00 - 18:00</li>
                    <li><span>רביעי: </span>8:00 - 18:00</li>
                    <li><span>חמישי: </span>8:00 - 18:00</li>
                    <li><span>שישי: </span>8:00 - 14:00</li>
                    <li><span>שבת: </span>סגור</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="text-center">
    האתר נוצר למוסך אריה
</footer>